.form {
  width: 62vw;
  min-height: 46vh;
  background: rgba($color-secondary-2-0, .8);
  border: 3px 10px black solid;
  border-radius: 6px;
  color: $offWhite;
  padding: 0.5em 1.3em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content minmax(max-content, auto) .25em;
  margin: auto;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
  grid-template-areas:
    "t t t t t t t t t t t t"
    "sc sc sc sc rd rd rd rd rd rd . ."
    "sc sc sc sc rd rd rd rd rd rd . ."
    // "sc sc sc sc rd rd rd rd rd rd . ."
    // "sc sc sc sc ld ld ld ld ld ld . ."
    "sc sc sc sc ld ld ld ld ld ld . ."
    "sc sc sc sc ld ld ld ld ld ld . ."
    ". . . . . . . . . . . ."
}

.title {
  grid-area: t;
  justify-self: center;
}

.setup-controls {
  grid-area: sc;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-bottom: .9em;
  padding-left: 3em;
  padding-right: 3em;
  align-items: stretch;
  justify-content: space-around;

  .buttons {
    margin-top: 33%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    padding-right: 1em;
    height: 32%;

  }
}
.button {
  composes: common-btn;
}

.light-details {
  grid-area: ld;
}

.room-details {
  grid-area: rd;
}
