.room {
  display: grid;
  grid-template-columns: repeat(8, 2em);
  grid-auto-rows: auto;
  justify-content: space-around;
  max-width: 88vw;
  min-width: 33vw;
  min-height: 33vh;
  border: 1px solid black;
  margin: auto;
  align-items: center;
}
